.header {
  margin: 50px 0 0 0;
  width: 100%;
  min-height: calc(100vh - 100px);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .headerScroll {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 16px;
    height: 40px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 4px #1a1a1a,
    inset -2px -2px 4px #404040;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: #0094ff;
      border-radius: 50%;
      width: 7px;
      height: 7px;
      opacity: 0;
      animation: scroll 1s infinite;
    }

    @keyframes scroll {
      0% {
        top: 0;
        opacity: 0;
      }
      50% {
        top: 17px;
        opacity: 1;
      }
      100% {
        top: 33px;
        opacity: 0;
      }
    }
  }

  .headerImgAndTxt {
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 150px 30px 30px 150px;
    box-shadow: 7px 7px 14px #1a1a1a,
    -7px -7px 14px #404040,
    inset 2px 2px 4px #404040,
    inset -2px -2px 4px #1a1a1a;

    .headerImg{
      margin: 0 25px;
      background-image: url("../images/photocv-nobg.png");
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      box-shadow: inset 2px 2px 4px #1a1a1a,
                  inset -2px -2px 4px #404040;
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }

    .headerTxt {
      width: calc(100% - 325px);
      height: 230px;
      margin-right: 25px;
      padding: 10px;
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #a4a4a4;
      text-align: center;
      border-radius: 30px 30px 30px 30px;
      box-shadow: inset 2px 2px 4px #1a1a1a,
      inset -2px -2px 4px #404040;

      .headerTitle {
        font-size: 20px;
        font-weight: 200;

        span{
          color: #0094ff;
        }
      }

      .headerAbout {
        font-size: 16px;
        margin: 0;
      }
    }
  }
}
