.header {
  margin: 50px 0 0 0;
  width: 100%;
  min-height: calc(100vh - 50px);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono', monospace;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -15%;
    width: 130%;
    height: 95%;
    background: #fff;
    border-radius: 0 0 50% 50%;
    box-shadow: 0 0 30px #000;
  }

  .header-text {
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    text-align: center;

    .header-title {
      font-size: 30px;
      color: #2d2d2d;
      font-weight: 400;
    }

    .header-about {
      font-size: 20px;
      color: #2d2d2d;
    }
  }
}

@media (max-width: 1000px) {
  .header {
    height: 300px;
  }
}

@media (max-width: 740px) {
  .header {
    height: 350px;
  }
}

@media (max-width: 580px) {
  .header {
    height: 390px;
  }
}

@media (max-width: 510px) {
  .header {
    height: 270px;
    .header-text {

      .header-title {
        font-size: 20px;
      }

      .header-about {
        font-size: 15px;
      }
    }
  }
}
@media (max-width: 440px) {
  .header {
    height: 300px;
  }
}
@media (max-width: 385px) {
  .header {
    height: 330px;
  }
}
@media (max-width: 350px) {
  .header {
    height: 360px;
  }
}
@media (max-width: 315px) {
  .header {
    height: 390px;
    &:before{
      border-radius: 0 0 45% 45%;
    }
  }
}
