.header {
  margin: 50px 0 0 0;
  width: 100%;
  min-height: calc(100vh - 60px);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .headerScroll {
    content: '';
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 16px;
    height: 40px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 4px #1a1a1a,
    inset -2px -2px 4px #404040;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: #0094ff;
      border-radius: 50%;
      width: 7px;
      height: 7px;
      opacity: 0;
      animation: scroll 1s infinite;
    }

    @keyframes scroll {
      0% {
        top: 0;
        opacity: 0;
      }
      50% {
        top: 17px;
        opacity: 1;
      }
      100% {
        top: 33px;
        opacity: 0;
      }
    }
  }

  .headerImgAndTxt {
    width: 70%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerImg {
      background-image: url("../images/winetenobg.png");
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      display: block;
      width: 300px;
      height: 400px;
      opacity: 0.8;
      margin-left: 60px;
    }

    .headerTxt {
      width: 300px;
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      color: #a4a4a4;
      text-align: center;
      margin-left: 50px;

      &:before {
        content: '';
        position: absolute;
        top: -50px;
        left: -50px;
        width: 100px;
        height: 100px;
        background: #2d2d2d;
        border-radius: 50%;
        box-shadow: 2px 2px 4px #1a1a1a,
        -2px -2px 4px #404040,
        inset 2px 2px 4px #404040,
        inset -2px -2px 4px #1a1a1a;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: -50px;
        right: -50px;
        width: 100px;
        height: 100px;
        background: #2d2d2d;
        border-radius: 30px;
        box-shadow: 2px 2px 4px #1a1a1a,
        -2px -2px 4px #404040,
        inset 2px 2px 4px #404040,
        inset -2px -2px 4px #1a1a1a;
      }

      .headerTitle {
        font-size: 30px;
        font-weight: 600;
        margin: 0 0 20px 0;
        z-index: 2;

        span {
          color: #0094ff;
          font-size: 60px;
        }
      }

      .headerAbout {
        font-size: 16px;
        margin: 0;
        text-align: left;
        z-index: 2;

        span {
          color: #0094ff;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .header {
    .headerImgAndTxt {
      justify-content: center;

      .headerImg {
      display: none;
      }

      .headerTxt{
        margin: 0 10px;
      }
    }
  }
}

@media (max-height: 650px) {
  .header {
    .headerScroll{
      display: none;
    }
  }
}

@media (max-height: 550px) {
  .header {
    .headerImgAndTxt {
      justify-content: center;

      .headerTxt{
        margin: 0 10px;
      }
    }
  }
}

@media (max-height: 480px) {
  .header {
    .headerImgAndTxt {

      .headerTxt{

        &:before{
          width: 60px;
          height: 60px;
          top: -30px;
          left: -30px;
        }

        &:after{
          width: 60px;
          height: 60px;
          bottom: -30px;
          right: -30px;
          border-radius: 15px;
        }
      }

      .headerImg {
        display: none;
      }
    }
  }
}
