.contactAndCopyright {
  margin: 0 auto;
  min-height: calc(100vh - 50px);
  width: 100%;
  font-family: 'Baloo Chettan 2', cursive;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .contact {
    margin-bottom: 20px;
    color: #a4a4a4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px;
    border-radius: 30px;
    box-shadow: inset 2px 2px 4px #1a1a1a,
    inset -2px -2px 4px #404040;

    h3 {
      font-size: 20px;
      font-weight: normal;

      span{
        color: #0094ff;
        text-transform: capitalize;
      }
    }

    p {
      font-size: 16px;

      a {
        text-decoration: none;
        color: #a4a4a4;
        transition: .5s all;

        &:hover {
          color: #0094ff;
        }
      }

      i {
        color: #0094ff;
      }
    }
  }

  .copyright {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #2d2d2d;
    box-shadow: 0 -2px 10px #404040,
    inset 0 2px 4px #404040;

    p {
      font-size: 10px;
      text-align: center;
      color: #0094ff;

      span {
        font-size: 14px;
      }
    }
  }
}
